<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>798133584242-p9qv1v1cnjjl89jp373l6igljie30bkq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798133584242-p9qv1v1cnjjl89jp373l6igljie30bkq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>798133584242-j46putsm2gr0q9pfnvrla0jdsjc7t5e2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBz4OZNeEqYRhNfarD1HwliEbnXuLiMFmU</string>
	<key>GCM_SENDER_ID</key>
	<string>798133584242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hawa4k.captain</string>
	<key>PROJECT_ID</key>
	<string>captin-16ba7</string>
	<key>STORAGE_BUCKET</key>
	<string>captin-16ba7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798133584242:ios:2f433e50d1140b4d34ddeb</string>
</dict>
</plist>